{extends ../@layout.latte}

{block content}
    <div class="row">
        <div class="col">
    <div class="form">
        <div class="subtitle">Update Employee</div>
        {control employeeForm}
    </div>
    </div>
    </div>
{/block}